## Numbers, Strings, and Variables
* booleans
* integers
* floats
* strings

## Object, Variable, Class
* object
    * everythin is implementd as an object
    * an object is like a clear plastic box that contains a piece of data
    * the object has a _type_
    * data : mutable vs immutable
    * the type of an object does not change
* variable
    * variables are just names
    * assignment does not copy a value; it just **attaches a name to the object**
    * the name is a _reference_ to a thing
* class
    * a class is the definition of an object
* instance
    * concrete class thing

In [2]:
a = 7
print(a)
b = a
print(b)

7
7

In [3]:
# type()
print(type(a))
print(type(b))
print(type(58))
print(type(99.1))
print(type('abc'))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'str'>

## Numbers
* operations
    * + (addition)
    * - (subtraction)
    * * (multiplication)
    * / (floating point division)
    * // (integer (truncating) division)
    * % (modulus (remainder))
    * ** (exponentiaion)

### Integers

In [5]:
5

5

In [6]:
+123

123

In [7]:
-123

-123

In [8]:
5 + 9

14

In [9]:
6 * 7

42

In [10]:
9 / 5

1.8

In [11]:
9 // 5

1

In [12]:
5 / 0

ZeroDivisionError: division by zero

In [13]:
a = 95
a = a - 3
a

92

In [16]:
a = 95
a -= 3
print(a)
a += 8
print(a)
a *= 2
print(a)
a /= 3
print(a)
a = 13
a //= 4
print(a)

92
100
200
66.66666666666667
3

In [17]:
divmod(9,5)

(1, 4)

### Precedence

In [25]:
print(2 + 3 * 4)
print((2 + 3) * 4)
print(2 + (3 * 4))

14
20
14

### Bases
* Integers are assumed to be decimal (base 10)
* 0b or 0B for binary (base 2)
* 0o or 0O for octal (base 8)
* 0x or 0X for hex (base 16)

In [24]:
print(0b10)
print(0o10)
print(0x10)

2
8
16

### Type Conversions
* int()
* float()
* str()

In [26]:
print(int(True))
print(int(False))
print(int(98.6))
print(int(1.0e4))
print(int('99')) # from string to int
print(int('-23')) # from string to int
print(int('+12')) # from string to int

1
0
98
10000
99
-23
12

In [28]:
# won't handle strings containing decimal points or exponents
print(int('98.6')) # '1.0e4'

ValueError: invalid literal for int() with base 10: '98.6'

### How Big is an int?
* 32bit int : from –2,147,483,648 to 2,147,483,647
* 64bit int : from –9,223,372,036,854,775,808 to 9,223,372,036,854,775,807
* in python 3 : int can be any size

In [30]:
googol = 10**100
print(googol)

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [31]:
print(googol * googol)

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

### Floats
* Floats are handled similarly to integers

In [32]:
print(float(True))
print(float(False))
print(float(98))
print(float('99'))
print(float('98.6'))
print(float('-1.5'))
print(float('1.0e4'))

1.0
0.0
98.0
99.0
98.6
-1.5
10000.0

## Strings
* support the Unicode standard. (in python 3)
* _sequence_ of characters
* immutable

### Create with Quotes

In [34]:
s0 = 'Snap'
s1 = "Crackle"
s2 = "'Nay,' said the naysayer."
s3 = 'The rare double quote in captivity: "'
s4 = '''Boom!'''
s5 = """Eek!"""
poem = '''There was a Young Lady of Norway,
Who casually sat in a doorway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Your Lady of Norway.'''

print(s0)
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)
print(poem)

Snap
Crackle
'Nay,' said the naysayer.
The rare double quote in captivity: "
Boom!
Eek!
There was a Young Lady of Norway,
Who casually sat in a doorway;
When the door squeezed her flat,
She exclaimed, "What of that?"
This courageous Your Lady of Norway.

In [35]:
# print space and newline
print(99, 'bottles', 'would be enough.')

99 bottles would be enough.

### Convert Data Types by Using str()

In [36]:
str(98.6)

'98.6'

In [37]:
str(1.0e4)

'10000.0'

In [38]:
str(True)

'True'

### Escape with \
* \\n
* \\t
* \\" \\'
* \\\\

In [2]:
palindrome = "A man,\nA plan,\nA canal:\nPanama."
print(palindrome)

A man,
A plan,
A canal:
Panama.

### Combine with +
* You can combine literal strings or string variables by using the + operator

In [3]:
'Release the kraken! ' + 'At once!'

'Release the kraken! At once!'

In [4]:
"My world! "    "A gentleman caller!"

'My world! A gentleman caller!'

In [6]:
a = 'Duck.'
b = a
c = 'Grey Duck!'
print(a + b + c)
print(a, b, c)

Duck.Duck.Grey Duck!
Duck. Duck. Grey Duck!

### Duplicate with *
* You can the * operator to duplicate a string

In [7]:
start = 'Na ' * 4 + '\n'
middle = 'Hey ' * 3 + '\n'
end = 'Goodbye.'
print(start + start + middle + end)

Na Na Na Na
Na Na Na Na
Hey Hey Hey
Goodbye.

### Extract a Character with []
* strings are immutable
* replace() or a _slice_

In [1]:
letters = 'abcdefghijklmnopqrstubwxyz'
print(letters[0])
print(letters[1])
print(letters[-1])
print(letters[-2])
print(letters[25])
print(letters[5])
print(letters[100])

a
b
z
y
z
f

IndexError: string index out of range

In [2]:
name = 'Henny'
name[0] = 'P'

TypeError: 'str' object does not support item assignment

In [4]:
name = 'Henny'
renamed = name.replace('H', 'P')
print(renamed)
print('P' + name[1:])

Penny
Penny

### Slice with [start:end:step]
* a negative step size, step backward
* starts at the end and ends at the start
* a slice offset earlier than the beginning of a string is treated as 0
* and one after the end is treated as -1

In [5]:
letters = 'abcdefghijklmnopqrstubwxyz'
print(letters[:])
print(letters[20:])
print(letters[10:])
print(letters[12:15])
print(letters[-3:])
print(letters[18:-3])
print(letters[-6:-2])
print(letters[::7])
print(letters[4:20:3])
print(letters[19::4])
print(letters[:21:5])
print('------------------')
print(letters[-1::-1]) # same to below
print(letters[::-1])   # negative step size -> start at -1
print('------------------')
print(letters[-50:])    # -50 -> 0
print(letters[-51:-50]) # nothing
print(letters[:70])     # 70 -> -1
print(letters[70:71])   # nothing

abcdefghijklmnopqrstubwxyz
ubwxyz
klmnopqrstubwxyz
mno
xyz
stubw
ubwx
ahob
ehknqt
tx
afkpu
------------------
zyxwbutsrqponmlkjihgfedcba
zyxwbutsrqponmlkjihgfedcba
------------------
abcdefghijklmnopqrstubwxyz

abcdefghijklmnopqrstubwxyz

### Get Length with *len()*

In [2]:
letters = 'abcdefghijklmnopqrstubwxyz'
print(len(letters))

empty = ''
print(len(empty))

26
0

### Split with *split()*

In [3]:
todos = "get gloves, get mask, give cat vitamins, call ambulance"
todo_list = todos.split(',')
print(todo_list)
print(type(todo_list))

['get gloves', ' get mask', ' give cat vitamins', ' call ambulance']
<class 'list'>

* not specify a separator, white space charaters are separator - newlines, spaces, and tabs

In [4]:
print(todos.split())

['get', 'gloves,', 'get', 'mask,', 'give', 'cat', 'vitamins,', 'call', 'ambulance']

### Combine with join()

In [5]:
crypto_list = ['Yeti', 'Bigfoot', 'Loch Ness Monster']
crypto_string = ",".join(crypto_list)
print(crypto_string)

Yeti,Bigfoot,Loch Ness Monster

### Playing with Strings
* slicing
* len
* startswith
* endswidth
* find
* rfind
* count
* isalnum

### Case and Alignment
* strip
* capitialize
* title
* upper
* lower
* swapcase
* center
* ljust
* rjust

### Substitute with replace()

In [9]:
setup = 'a duck goes into a bar...'
print(setup.replace('duck', 'marmoset'))
print(setup.replace('a ', 'a famous ', 100))
print(setup.replace('a', 'a famous', 100))

a marmoset goes into a bar...
a famous duck goes into a famous bar...
a famous duck goes into a famous ba famousr...