### Q1

In [1]:
avg = (80 + 75 + 55) / 3
print("평균 = " + str(avg))

평균 = 70.0

### Q2

In [3]:
a = 13 % 2
if a == 0:
    print("짝수")
elif a == 1:
    print("홀수")

홀수

### Q3

In [6]:
a = "881120-1068234"
b0 = a[0:6]
b1 = a[7:]
print("앞부분 = " + str(b0))
print("뒷부분 = " + str(b1))

앞부분 = 881120
뒷부분 = 1068234

### Q4

In [8]:
pin = "881120-1068234"
print(pin[7])

1

### Q5

In [14]:
a = "a:b:c:d"
print(a.replace(":","#"))

a#b#c#d

### Q6

In [18]:
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

### Q7

In [24]:
a = ['Life', 'is', 'too', 'short']
delimiter = " "
join_str = delimiter.join(a)
print(join_str)

Life is too short

### Q8

In [33]:
a = (1, 2, 3)
b = a + (4,) # single value tuple은 뒤에 comma를 붙여준다 !!!
print(b)

(1, 2, 3, 4)

### Q9

3번 에러 발생. <br>
key는 immutable해야함.

### Q10

In [35]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')
print(a)

{'A': 90, 'C': 70}

### Q11

In [37]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
b = set(a)
print(b)

{1, 2, 3, 4, 5}

### Q12
리스트 오브젝트 [1,2,3]을 a, b가 동시에 가리키고 있다. <br>
때문에 a를 통해 오브젝트를 수정하면 같은 오브젝트를 가리키는 b를 통해 오브젝트를 출력하면 수정된 내용이 반영된 결과가 출력된다.

In [38]:
a = b = [1, 2, 3]
a[1] = 4
print(b)

[1, 4, 3]